.container {
    display: flex;
    justify-content: center;
    height: 100vh;
}

.register {
    width: 100%;
    max-width: 550px;
    max-height: 600px;
    padding: 0;
    margin: 5rem;
    border-radius: 8px;
    box-shadow: 0 7px 10px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
}

.login {
    width: 100%;
    max-width: 550px;
    max-height: 380px;
    padding: 0;
    margin: 5rem;
    border-radius: 8px;
    box-shadow: 0 7px 10px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
}

.head {
    margin: 0;
    height: 2.5rem;
    background-color: #646cff;
    border-radius: 8px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.body {
    margin: 2rem
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.name {
    display: flex;
    gap: 1rem;
}

.role {
    align-items: center;
    display: flex;
    gap: 7rem;
}

select {
    width: 200px;
}

.name input {
    width: 200px;
}

input {
    width: 450px;
}

html.dark-mode .login{
    background-color: #393939;
}

html.dark-mode .register{
    background-color: #393939;
}

html.dark-mode .head {
    background-color: #646cff;
}